<p id="notice"><%= notice %></p>

<h1><%=  %></h1>

<% @messages.each do |message| %>
  <div class="message-box">
    <p><%= emojify(message.content) %></p>
  </div>
<% end %>

<br>

<%= link_to 'New Message', new_conversation_message_path(@conversation) %>